* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #1a2a6c, #b21f1f, #fdbb2d);
    background-size: 200% 200%;
    animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.liquid-glass {
    width: 660px;
    padding: 56px 40px;
    position: absolute;
    border-radius: 26px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.2), 0 0 80px rgba(0, 0, 0, 0.2);
}

.liquid-glass__menu {
    position: relative;
    z-index: 10;
}

.liquid-glass--bend,
.liquid-glass--face,
.liquid-glass--edge {
    position: absolute;
    inset: 0;
    border-radius: 26px;
    pointer-events: none;
}

.liquid-glass--bend {
    backdrop-filter: blur(3px);
    filter: url(#filter);
    z-index: 1;
}

.liquid-glass--face {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.liquid-glass--edge {
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 1), inset -3px -3px 3px rgba(255, 255, 255, 1);
    z-index: 3;
}

.liquid-glass .glass-drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    cursor: grab;
    z-index: 10;
}
.liquid-glass .glass-drag-handle:active {
    cursor: grabbing;
}

.liquid-glass .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 11;
}

.liquid-glass .login-form h2,
.liquid-glass .input-group input,
.liquid-glass button {
    position: relative;
    z-index: 12;
}

.liquid-glass .login-form h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    text-align: left;
    user-select: none;
}

.liquid-glass .input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.liquid-glass .input-group input {
    width: 100%;
    padding: 18px 35px 18px 14px;
    border: none;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.75);
    font-size: 1.3rem;
    outline: none;
    color: #000;
    backdrop-filter: blur(6px);
}

.liquid-glass .input-group i {
    position: absolute;
    right: 12px;
    color: #404040;
}

.liquid-glass button {
    padding: 15px;
    border: none;
    border-radius: 26px;
    background: linear-gradient(135deg, #95d58f, #2e702c);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}

.liquid-glass button:hover {
    background: linear-gradient(135deg, #2e702c, #95d58f);
}

.liquid-glass .hidden {
    display: none;
}

.app-content {
    color: #141414;
    text-align: center;
    font-size: 2rem;
    z-index: 1;
}

.app-content.hidden {
    display: none;
}

.liquid-glass select {
    width: 100%;
    padding: 16px 35px 16px 14px;
    border: none;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.75);
    font-size: 1.2rem;
    outline: none;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    backdrop-filter: blur(6px);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.liquid-glass select:hover {
    background: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.6);
}

.liquid-glass select option {
    position: absolute;
    top: 200px;
    left: 0;
    border-radius: 26px;
    background: rgba(20, 20, 40, 0.8);
    color: #fff;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.liquid-glass select option:hover {
    background: rgba(0, 180, 255, 0.3);
}

.liquid-glass [data-username] {
    font-size: 1.2rem;
    font-weight: 500;
    color: #4de04d;
    text-align: center;
}

/* повідомлення */
.liquid-glass [data-error] {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 16px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: all 0.4s ease;
    opacity: 0;
}

/* повідомлення - пусте */
.liquid-glass [data-error]:empty {
    display: none;
}

/* повідомлення - не пусте */
.liquid-glass [data-error]:not(:empty) {
    opacity: 1;
}

/* повідомлення - помилка */
.liquid-glass [data-error].error {
    color: #df4b4b;
    background: rgba(14, 14, 14, 0.5);
    box-shadow: 0 0 8px rgba(14, 14, 14, 0.5);
}

/* повідомлення - інформація  */
.liquid-glass [data-error].info {
    color: #fff;
    background: rgba(0, 123, 255, 0.4);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

/* повідомлення - успіх  */
.liquid-glass [data-error].success {
    color: #fff;
    background: rgba(40, 167, 69, 0.4);
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.4);
}

.liquid-glass input:disabled,
.liquid-glass select:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    color: #ddd;
    background: rgba(255, 255, 255, 0.1);
}
