* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.jpg) center/cover no-repeat;
    height: 100vh;
    width: 100vw;
}

.liquid-glass {
    width: 660px;
    padding: 56px 40px;
    position: absolute;
    border-radius: 26px;
    overflow: hidden;
    z-index: 1000;
}

.liquid-glass__menu {
    position: relative;
    z-index: 10;
}

.liquid-glass--bend,
.liquid-glass--face,
.liquid-glass--edge {
    position: absolute;
    inset: 0;
    border-radius: 26px;
    pointer-events: none;
}

.liquid-glass--bend {
    backdrop-filter: blur(3px);
    filter: url(#filter);
    z-index: 1;
}

.liquid-glass--face {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.liquid-glass--edge {
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 1), inset -3px -3px 3px rgba(255, 255, 255, 1);
    z-index: 3;
}

.liquid-glass .glass-drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    cursor: grab;
    z-index: 10;
}
.liquid-glass .glass-drag-handle:active {
    cursor: grabbing;
}

.liquid-glass .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 11;
}

.liquid-glass .login-form h2,
.liquid-glass .input-group input,
.liquid-glass button {
    position: relative;
    z-index: 12;
}

.liquid-glass .login-form h2 {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    text-align: left;
    user-select: none;
}

.liquid-glass .input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.liquid-glass .input-group input {
    width: 100%;
    padding: 18px 35px 18px 14px;
    border: none;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.75);
    font-size: 1.3rem;
    outline: none;
    color: #000;
    backdrop-filter: blur(6px);
}

.liquid-glass .input-group i {
    position: absolute;
    right: 12px;
    color: #404040;
}

.liquid-glass button {
    padding: 15px;
    border: none;
    border-radius: 26px;
    background: linear-gradient(135deg, #95d58f, #2e702c);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}

.liquid-glass button:hover {
    background: linear-gradient(135deg, #2e702c, #95d58f);
}

.liquid-glass .hidden {
    display: none;
}

.liquid-glass #error-msg {
    color: red;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.app-content {
    color: #141414;
    text-align: center;
    font-size: 2rem;
    z-index: 1;
}

.app-content.hidden {
    display: none;
}
